@import 'tailwindcss';

/* ===================== */
/* LIGHT MODE (default) */
/* ===================== */
:root {
  /* Font */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* ===== Colors ===== */
  --bg: #efeded;
  --bg-secondary: #f5f5f5;
  --bg-third: #ffffff;
  --surface: #efeded;
  --hover: #f3f4f6;

  --text-primary: #1b1b1b;
  --text-secondary: #4b5563;
  --text-inverse: #ffffff;

  --border: #e5e7eb;

  /* Brand */
  --brand: #ffc107;
  --on-brand: #000000;
  /* Inverse - secondary button */
  --inverse: #000000;
  --on-inverse: #ffffff;

  /* Package accents */
  --plan-basic: #2563eb;
  --on-plan-basic: #ffffff;

  --plan-premium: #ff6b35;
  --on-plan-premium: #ffffff;

  --plan-elite: #ffc107;
  --on-plan-elite: #000000;
}

/* ===================== */
/* DARK MODE */
/* ===================== */
.dark {
  --bg: #0f0f0f;
  --bg-secondary: #000000;
  --bg-third: #222222;
  --surface: #181818;
  --hover: #262626;

  --text-primary: #ffffff;
  --text-secondary: #d1d5db;
  --text-inverse: #000000;

  --border: #2f2f2f;

  --brand: #ffc107;
  --on-brand: #000000;

  /* Inverse - secondary button */
  --inverse: #ffffff;
  --on-inverse: #000000;

  /* Package accents */
  --plan-basic: #2563eb;
  --on-plan-basic: #000000;

  --plan-premium: #ff6b35;
  --on-plan-premium: #000000;

  --plan-elite: #ffc107;
  --on-plan-elite: #000000;
}

/* ===================== */
/* Global base */
/* ===================== */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--bg);
  color: var(--text-primary);
}

button {
  font-family: inherit;
  cursor: pointer;
  transition:
    background-color 0.2s,
    color 0.2s;
}

a {
  text-decoration: none;
  color: inherit;
}